*.css linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*Makefile linguist-detectable=false
*make linguist-detectable=false
*cmake linguist-detectable=false
*sh linguist-detectable=false
*txt linguist-detectable=false
*TXT linguist-detectable=false
*.c linguist-detectable=false
*.cpp linguist-detectable=true
